@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Ubuntu', -apple-system, system-ui, sans-serif;
}
html {
  min-height: 100%;
  font-size: 62.5%;
}

@media (max-width: 900px) {
  html {
    font-size: 50.668%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
}
body,
input,
button {
  font-weight: 100;
}
h1,
strong {
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

button {
  cursor: pointer;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
